
<ion-header [translucent]="true">
  <ion-toolbar color="primary">

    <!-- User icon -->
    <ion-buttons slot="start">
      <ion-button (click)="clickUserIcon.emit()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Title -->
    <ion-title>
     {{title}}
    </ion-title>

    <!-- Options button -->
    <ion-buttons slot="end">
      <ion-button
        (click)="showOptions($event)"
      >
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>